{% extends "admin-layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/admin/styles/edit.css">
{% endblock %}

{% block head %}
    <title>Editando receita</title>
{% endblock %}

{% block content %}

    <form action="/admin/recipes?_method=PUT" method="POST" class="form">

        <div class="introEdit">
            <div class="introEditText">
                <h1>Editando receita</h1>
            </div>
            <div class="introEditButton">
                <button>Deletar</button>
                <button type="submit">Salvar receitas</button>
            </div>
        </div>

        <div class="imgEdit">
            <h2>Imagem da receita</h2>
            <input type="url" placeholder="http://" name="image" value="{{ recipe.image }}">
        </div>

        <div class="titleEdit">
            <h2>Nome da receita</h2>
            <input type="text" placeholder="Churrasco Grego" name="title" value="{{ recipe.title }}">
        </div>

        <div class="authorEdit">
            <h2>Criador da receita</h2>
            <input type="text" placeholder="Mestre Shiba" name="author" value="{{ recipe.author }}">
        </div>

        <div class="ingredientsEdit">
            <h2>Ingredientes</h2>
            <div class="ingredientsEditInputAll">
                {% for ingredients in recipe.ingredients %}
                <div class="ingredientsEditInput">
                    <input type="text" placeholder="12 Colheres de Chá de Açúcar" name="ingredients[]" value="{{ ingredients }}">
                    <span class="closeIngredients">&times;</span>
                </div>
                {% endfor %}
            </div>
            <button type="button" id="addIngredients">Adicionar novo ingrediente</button>
        </div>   

        <div class="preparationEdit">
            <h2>Modo de preparo</h2>
            <div class="preparationEditInputAll">
                {% for preparation in recipe.preparation %}
                <div class="preparationEditInput">
                    <input type="text" placeholder="12 Colheres de Chá de Açúcar" name="preparation[]" value="{{ preparation }}">
                    <span id="closePreparation" >&times;</span>
                </div>
                {% endfor %}
            </div>
            <button type="button" id="addPreparation">Adicionar novo passo</button>
        </div>   

        <div class="informationEdit">
            <h2>Informações adicionais</h2>
            <textarea placeholder="Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres!" cols="30" rows="10" name="information">{{ recipe.information }}</textarea>
        </div>

        <input type="hidden" name="id" value="{{ recipe.id }}">

    </form>

{% endblock %}