{% extends "admin-layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/admin/styles/edit.css">
{% endblock %}

{% block head %}
    <title>Editando receita</title>
{% endblock %}

{% block content %}

{% endblock %}