{% extends "admin-layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/admin/styles/index.css">
{% endblock %}

{% block head %}
    <title>Listagem das Receitas</title>
{% endblock %}

{% block content %}
    <h1>Gerenciar receitas</h1>
{% endblock %}