{% extends "admin-layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/admin/styles/index.css">
{% endblock %}

{% block head %}
    <title>Listagem das Receitas</title>
{% endblock %}

{% block content %}
    <h1>Gerenciar receitas</h1>

    <div class="listRecipes">
        <div class="typeRecipes" id="">
            <img src="/global/assets/asinhas.png" alt="">
            <div class="readRecipes">
                <h3 class="whatRecipes">Asinhas de frango ao barbecue</h3>
                <p class="whatNameCreator">por Vania Steroski</p>
                <a href="">Visualizar</a>
            </div>
        </div>
        {% for recipe in recipes %}
        <div class="typeRecipes" id="">
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
            <div class="readRecipes">
                <h3 class="whatRecipes">{{ recipe.title }}</h3>
                <p class="whatNameCreator">{{ recipe.author }}</p>
                <a href="">Visualizar</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}