{% extends "admin-layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/admin/styles/show.css">
{% endblock %}

{% block head %}
    <title>Listagem das Receitas</title>
{% endblock %}

{% block content %}


{% endblock %}