{% extends "admin-layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/admin/styles/show.css">
{% endblock %}

{% block head %}
    <title>Detalhes da Receita</title>
{% endblock %}

{% block content %}

<div class="introRecipes">
    <h1>Receitas: Tripo Bacon Burger</h1>
    <a href="#">Editar receita</a>
</div>

<div class="sliderRecipes">
    <img src="/global/assets/burger.png" alt="">
</div>


<div class="descriptionRecipes">
    <h3>Triplo bacon</h3>
    <p>por Jorge Relato</p>
</div>

<div class="contentRecipes">
    <div class="ingredientesRecipes">
        
    </div>
</div>


{% endblock %}