<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        {% block head %}{% endblock %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/admin/styles/main.css">
        {% block styles %}{% endblock %}
        
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/admin/assets/logo.png" alt="foodfy logo">
            </div>
        </header>

        <main>
            <div class="content">
                {% block content %}{% endblock %}   
            </div>
        </main>
        
        <script src="/admin/scripts/addIngredients.js"></script>
    </body>


</html>