{% extends "layout.njk" %}

{% block head %}
<title>Página não encontrada</title>
{% endblock %}

{% block content %}

<div class="not-found">
    <img src="https://cdn.dribbble.com/users/1012566/screenshots/4187820/topic-2.jpg" alt="404">
</div>

{% endblock %}