.introEdit {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

.introEdit .introEditText h1 {
    font-size: 24px;
    color: #111;
}

.introEdit .introEditButton button {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #6558C3;
    padding: 9px 20px;
    border-radius: 4px;
}

.introEditDelete {
    display: flex;
    flex-direction: row;
    width: 980px;
    justify-content: flex-end;
    align-items: center;
}

.introEditButtonDelete button {
    margin-top: 50px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #DC4747;
    padding: 9px 20px;
    border-radius: 4px;
    width: 144.45px;
}

.imgEdit,
.titleEdit,
.authorEdit,
.ingredientsEdit,
.preparationEdit,
.informationEdit {
    display: flex;
    flex-direction: column;
}

/* Inputs Delete */
.ingredientsEdit .ingredientsEditInputAll .ingredientsEditInput,
.preparationEdit .preparationEditInputAll .preparationEditInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 980px;
}

.ingredientsEdit .ingredientsEditInputAll .ingredientsEditInput span,
.preparationEdit .preparationEditInputAll .preparationEditInput span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #fff;
    border: 1px solid #DC4747;
    background-color: #DC4747;
    padding: 15px 20px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    font-weight: bold;
}
/* End Inputs Delete */

.imgEdit h2,
.titleEdit h2,
.authorEdit h2,
.ingredientsEdit h2,
.preparationEdit h2,
.informationEdit h2 {
    font-size: 16px;
    color: #111;
    margin: 30px 0px 10px 0px;
}

.imgEdit input,
.titleEdit input,
.authorEdit input,
.ingredientsEdit input,
.preparationEdit input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 16px;
    color: #111;
    margin-bottom: 10px;
    width: 100%;
}
.ingredientsEdit input,
.preparationEdit input {
    border-radius: 4px 0px 0px 4px;
}
.ingredientsEdit button,
.preparationEdit button {
    background-color: #fff;
    font-size: 16px;
    color: #6558C3;
    font-weight: bold;
    text-align: left;
}

.informationEdit textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px 20px;
    max-width: 100%;
    height: 230px;
    font-size: 16px;
    color: #111;
    resize: none;
    margin-bottom: 609px;
    width: 100%;
}