.introEdit {
    margin: 55px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.introEdit .introEditText h1 {
    font-size: 24px;
    color: #111;
}

.introEdit .introEditButton a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #DC4747;
    padding: 9px 20px;
    border-radius: 4px;
}

.introEdit .introEditButton a + a {
    background-color: #6558C3;
}