.introRecipes {
    margin: 55px 0px 24px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.introRecipes h1 {
    font-size: 24px;
    color: #111;
}

.introRecipes a {
    text-decoration: none;
    color: #fff;
    background-color: #6558C3;
    border-radius: 4px;
    font-size: 16px;
    padding: 9px 20px;
}

.sliderRecipes {
    height: 280px;
    max-width: 940px;
    max-height: 280px;
    margin-bottom: 50px;
}

.sliderRecipes img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.descriptionRecipes {
    text-align: center;
    margin-bottom: 31px;
}

.descriptionRecipes h2 {
    font-size: 36px;
    color: #111;
}

.descriptionRecipes p {
    font-size: 20px;
    color: #777;
}

.contentRecipes {
    max-width: 940px;
}

.contentRecipes .ingredientsRecipes,
.contentRecipes .preparationRecipes,
.contentRecipes .informationRecipes {
    font-size: 24px;
    color: #111;
    margin-bottom: 19px;
}

.contentRecipes .preparationRecipes,
.contentRecipes .informationRecipes {
    margin-top: 41px;
}

.contentRecipes .detailsIngredients,
.contentRecipes .preparationIngredients,
.contentRecipes .informationIngredients {
    font-size: 18px;
    color: #444;
}

.contentRecipes .detailsIngredients ul,
.contentRecipes .preparationIngredients ul {
    list-style-position: inside;
}

.contentRecipes .detailsIngredients ul li,
.contentRecipes .preparationIngredients ul li {
    list-style: none;
    padding-bottom: 5px;
}

.contentRecipes .detailsIngredients ul li:before,
.contentRecipes .preparationIngredients ul li:before {
    content: "-";
    padding-right: 8px;
}

.contentRecipes .informationIngredients {
    margin-bottom: 51px;
}
